{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="{% static 'stock/base.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Favicons -->
	<link rel="icon" href="{% static 'stock/favicon.ico' %}">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
	{% block title %}
	{% endblock %}
</head>

	<body style="font-family: 'Lato', sans-serif;">
			<nav class="navbar navbar-dark bg-dark top-bar">
				<div id="redfont" class='icon'></div>
				
				<ul class='title-area'>
					<li class='home'> <a href="{% url 'index' %}"> Home </a></li>
					<li class='manage'><a href="{% url 'manage' %}"> Manage </a></li>
					<li class='history'><a href="{% url 'history' %}"> History </a></li>
					{% if user.is_authenticated %}
					<li class='btn btn-outline-danger user'><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
					{% endif %}
					{% if user.is_superuser %}
					<li class='user'><a href="{% url 'admin:index' %}"> Admin </a></li>
					{% endif %}
										     
				</ul>
			</nav>
		<table class='cols'>
			<tr>
				<th> Database Name: <div id="greenfont"> LabStock.db </div></th>
				<th> LOGED IN User: <div id="greenfont"> {{request.user}} </div></th>
				<th> Last Login: <div id="greenfont"> {{request.user.last_login}} </div></th>
			</tr>
		</table>
		{% block content %}




		
		{% endblock %}
	</body>
</html>